<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
<body>
  <div class="wrapper">
    <%- partial('_partial/header') %>
    <div class="content">
      <%- body %>
    </div>
  </div>

  <%- partial('_partial/footer') %>

  <%- js("js/highlight.pack.js") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
  </script>
</body>
</html>
