<article class="post">
  <h1 class="post__title"><%= post.title %></h1>
  <aside class="post__meta">
    <%- partial('_partial/post/date') %>
    <%- partial('_partial/post/categorie') %>
    <%- partial('_partial/post/tag') %>
  </aside>
  <%- partial('_partial/post/photo') %>
  <div class="post__content">
    <%- post.content %>
  </div>
</article>
