<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'archive';
  } else if (is_category()){
    title = page.category;
  } else if (is_tag()){
    title = page.tag;
  }
  %>
    <title>
      <% if (title){ %>
        <%= title %> |
          <% } %>
            <%= config.title %>
    </title>
    <% if (config.rss){ %>
      <%- feed_tag("/atom.xml", {title:config.title}) %>
        <% } %>

          <% var favicon = config.favicon||theme.favicon; %>
            <% if (favicon){ %>
              <%- favicon_tag(favicon) %>
                <% } %>

                  <title>
                    <%= config.title %>
                  </title>
                  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" rel="stylesheet" />
                  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/<%= theme.highlight_theme %>.min.css" rel="stylesheet">
                  <%- css("css/style.css") %>


</head>