<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'archive';
  } else if (is_category()){
    title = page.category;
  } else if (is_tag()){
    title = page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (config.rss){ %>
    <%- feed_tag("/atom.xml", {title:config.title}) %>
  <% } %>
  <% if (config.favicon||theme.favicon){ %>
    <%- favicon_tag(config.favicon||theme.favicon) %>
  <% } %>
  <title><%= config.title %></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"/>
  <%- css("css/style.css") %>
  <% if (config.highlight_theme||theme.highlight_theme){ %>
    <%- css("css/"+config.highlight_theme||theme.highlight_theme) %>
  <% } %>
</head>
